
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// 所有文字： 苹方-中等
//
// 所有黑色字#333333 灰色字#aaaaaa
//
// 主题黄：#fdd504  辅助橙：#ffad01
//
// 价格红：#ff1616  分类矩形底色：#e9e9e9
//
// 提交订单按钮红：#ff3030
//
// 注：收藏或者点赞或者TABBAR的图标 选中与未选中按钮都隐藏在PS的图层中，有命名显示

$font-title-color: #333333;
$font-desc-color: #aaaaaa;

$theme-color: #fdd504;
$help-color: #ffad01;

$price-color: #ff1616;
$border-color: #e9e9e9;

$button-color: #ff3030;
$background-color: #efefef;

@media screen and (max-width: 768px) {
    .con {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .con {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .con {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .con {
        width: 1170px;
    }
}

@font-face {
    font-family: PingFangSC-Regular, sans-serif;
}

.container {
    min-height: 100vh;
}

.thread {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
    padding-top: .37333333rem;
    padding-bottom: .26666667rem;
}

.thread-body {
    margin: 0 .25333333rem;
}

.thread-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $font-title-color;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.thread-desc {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $font-desc-color;
    font-size: 14px;
    margin: 0;
}

.thread-channel-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    font-size: 10px;
    text-align: center;
    min-width: 1.28rem;
    min-height: .45333333rem;
    padding: 0 1em;
    color: $font-desc-color;
}

.user-profile-panel {
    margin: 0 .25333333rem;
    height: .8rem;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 1px solid $border-color;
        width: .8rem;
        height: .8rem;
    }
}

.user-profile {
    margin-left: .16rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.user-nickname {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: $font-title-color;
}

.thread-reward {
    width: .93333333rem;
    height: .53333333rem;
    background-color: #fed403;
    line-height: .53333333rem;
    font-size: 10px;
    text-align: center;
    color: #333;
}

.thread-time {
    font-size: 12px;
    color: $font-desc-color;
    margin: 0;
}

.thread-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 .25333333rem;
    align-items: center;
}

.thread-count {
    display: flex;
    flex-direction: row;
}

.replaies-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorited-img {
    border-radius: unset !important;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
}

.views-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-count {
    margin-left: 0.13333333rem;
}

.thread-reward-money {
    color: $price-color;
    font-size: 16px;
}

.thread-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 1.46666667rem;
    background-color: #fff;
    margin-bottom: .26666667rem;
}

.thread-create {
    flex: 1;
    margin-left: .25333333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: $theme-color;

    a {
        color: $theme-color;
    }
}

.thread-channel {
    margin-right: .25333333rem;
}

.thread-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1.46666667rem;
    border-bottom: 1px solid $border-color;
    list-style: none;
    background-color: #fff;
    font-size: 16px;
    color: #fff;
}

.thread-menu li > a {
    display: block;
    height: 1.46666667rem;
    line-height: 1.46666667rem;
    width: 1.73333333rem;
    text-align: center;
    color: $font-title-color;
}

.thread-menu li > a.on {
    border-bottom: 4px solid #ffda44;
}

/**
 * reply
 */
 .replies {
     background-color: #fff;
 }

 .replies-title {
     font-size: 16px;
     margin: 0 .4rem;
     height: 1.30666667rem;
     line-height: 1.30666667rem;
     border-bottom: 2px solid $border-color;
 }

 .reply {
     padding-top: .37333333rem;
     padding-bottom: .26666667rem;
     border-bottom: 1px solid $border-color;
 }
 .reply-user-profile-panel {
     margin: 0 .25333333rem;
     height: .8rem;
     display: flex;
     align-items: center;
 }

 .reply-user-profile-panel img {
     border-radius: 50%;
     border: 1px solid $border-color;
     width: .8rem;
     height: .8rem;
 }

.replies-thread {
    margin: 0 .25333333rem;
    margin-bottom: 1.08rem;
    height: 5.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.replies-more {
    width: 5.86666667rem;
    height: .74666667rem;
    line-height: .74666667rem;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid $border-color;
    margin-top: .48rem;
}

.reply-thread-body {
    margin-top: 10px;
    width: 100%;
    border-color: $border-color;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    color: #aaa;
}
.thread-delete {
    height: .57333333rem;
    width: 1.4rem;
    border: 1px solid $border-color;
    display: block;
    border-radius: .28666666rem;
    text-align: center;
    line-height: .57333333rem;
}

/**
 * thread-form
 */

 .thread-form {
     background-color: #fff;
 }

 .thread-form-group {
     margin: 0 .25333333rem;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     height: 1.13333333rem;
 }
 .thread-form-group label {
     flex: 13;
     font-size: 12.5px;
     margin: 0;
     color: #000000;
     font-weight: unset;
 }

 .thread-form-group input {
     flex: 57;
     background-color: #f8f8f8;
     border: none;
     height: .64rem;
     padding-left: 10px;
     color: #000000;
 }

 .thread-form-group select {
     flex: 25;
     background-color: #f8f8f8;
     border: none;
     height: .64rem;
     padding-left: 10px;
     color: #000000;
 }

 .thread-form-group textarea {
     flex: 57;
     background-color: #f8f8f8;
     border: none;
     height: 2.66666667rem;
     padding-left: 10px;
     color: #000000;
 }

/**
 * threads.channels
 */
 .thread-channels {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 0 .25333333rem;
     border: 1px solid $border-color;
     border-radius: 4px;
     height: 1.74666667rem;
     margin-bottom: .26666667rem;
     background-color: #fff;
 }

 .channel-icon {
     margin-left: .34666667rem;
     width: 1.13333333rem;
     height: 1.13333333rem;
     border-radius: .56666667rem;
 }

 .channel-slug {
     margin-left: .36rem;
     width: 6.78666667rem;
 }

 .channel-name {
     margin: 0;
     color: #333;
     font-size: 16px;
 }

 .channel-desc {
     margin: 0;
     color: #aaa;
     font-size: 14px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .favorited {
     color: $help-color;
 }

 /**
  * menu
  */

 .menu {
     display: flex;
     position: fixed;
     bottom: 0;
     height: 1.32rem;
     background-color: #fff;
     justify-content: space-around;
     border-top: 1px solid $border-color;

     li {
         list-style: none;
     }
 }

 .menu-item {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: $font-title-color;
     font-size: 12px;
     height: 1.32rem;

     img {
         width: .6rem;
         height: .6rem;
         margin-top: .1em;
         margin-bottom: .1em;
     }
 }

 /**
  * users-profile
  */
  .users-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.16rem /* 87/75 */;
    //   width: 100vw;
      background-color: #fff;
  }

  .users-item-icon {
      width: 1.81rem /* 136/75 */;
      height: 1.16rem /* 87/75 */;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
          width: 0.53rem /* 40/75 */;
          height: 0.53rem /* 40/75 */;
      }
  }

  .users-item-desc {
      width: calc(100vw - 1.81rem);
      height: 1.16rem /* 87/75 */;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $border-color
  }

  .users-item-name {
      margin: 0;
      font-size: 13px;
      color: $font-title-color;
  }

  .arrow {
      height: 0.32rem /* 24/75 */;
      width: 0.32rem /* 24/75 */;
      margin-right: 0.27rem /* 20/75 */;
  }

  .user-profile-center {
      height: 1.87rem /* 140/75 */;
      background-color: #fff;
      margin-top: 0.4rem /* 30/75 */;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $border-color;
      margin-bottom: 0.19rem /* 14/75 */;
  }

  .user-profile-headimgurl {
      width: 1.93rem /* 145/75 */;
      height: 1.87rem /* 140/75 */;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
          width: 1.53rem /* 115/75 */;
          height: 1.53rem /* 115/75 */;
          border: 2px solid #333;
          border-radius: 4px;
      }
  }

  .user-profile-content {
      width: calc(100vw - 1.93rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
  }

  .user-profile-desc {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 1.87rem /* 140/75 */;
  }

  .user-profile-nickname {
      margin: 0;
      padding: 0;
  }

  .user-profile-mobile {
      margin: 0;
      padding: 0;
  }
