
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.thread {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
    padding-top: .37333333rem;
    padding-bottom: .26666667rem;
}

.thread-body {
    margin: 0 .25333333rem;
}

.thread-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #323232;
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}

.thread-desc {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ababab;
    font-size: 14px;
    margin: 0;
}

.user-profile-panel {
    margin: 0 .25333333rem;
    height: .8rem;
    display: flex;
    align-items: center;
}

.user-profile-panel img {
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    width: .8rem;
    height: .8rem;
}

.user-profile {
    margin-left: .16rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.user-nickname {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #343434;
}

.thread-reward {
    width: .93333333rem;
    height: .53333333rem;
    background-color: #fed403;
    line-height: .53333333rem;
    font-size: 10px;
    text-align: center;
    color: #333;
}

.thread-time {
    font-size: 12px;
    color: #ababab;
    margin: 0;
}

.thread-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 .25333333rem;
    align-items: center;
}

.thread-count {
    display: flex;
    flex-direction: row;
}

.replaies-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.views-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-count {
    margin-left: 0.13333333rem;
}

.thread-reward-money {
    color: #ff1613;
    font-size: 16px;
}

.thread-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 1.46666667rem;
    background-color: #fff;
    border-bottom: .26666667rem solid #f3f3f3;
}

.thread-create {
    flex: 1;
    margin-left: .25333333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffda44;

    a {
        color: #ffda44;
    }
}

.thread-channel {
    margin-right: .25333333rem;
}

.thread-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1.46666667rem;
    border-bottom: 1px solid #f3f3f3;
    list-style: none;
    background-color: #fff;
    font-size: 16px;
    color: #fff;
}

.thread-menu li > a {
    display: block;
    height: 1.46666667rem;
    line-height: 1.46666667rem;
    width: 1.73333333rem;
    text-align: center;
    color: #333;
}

.thread-menu li > a.on {
    border-bottom: 4px solid #ffda44;
}

/**
 * reply
 */
 .replies {
     background-color: #fff;
 }

 .replies-title {
     font-size: 16px;
     margin: 0 .4rem;
     height: 1.30666667rem;
     line-height: 1.30666667rem;
     border-bottom: 2px solid #f9f9f9;
 }

 .reply {
     padding-top: .37333333rem;
     padding-bottom: .26666667rem;
     border-bottom: 1px solid #f3f3f3;
 }
 .reply-user-profile-panel {
     margin: 0 .25333333rem;
     height: .8rem;
     display: flex;
     align-items: center;
 }

 .reply-user-profile-panel img {
     border-radius: 50%;
     border: 1px solid #f1f1f1;
     width: .8rem;
     height: .8rem;
 }

.replies-thread {
    margin: 0 .25333333rem;
    margin-bottom: 1.08rem;
    height: 5.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.replies-more {
    width: 5.86666667rem;
    height: .74666667rem;
    line-height: .74666667rem;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
    margin-top: .48rem;
}

.reply-thread-body {
    margin-top: 10px;
    width: 100%;
    border-color: #d2d2d2;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    color: #aaa;
}
.thread-delete {
    height: .57333333rem;
    width: 1.4rem;
    border: 1px solid #959595;
    display: block;
    border-radius: .28666666rem;
    text-align: center;
    line-height: .57333333rem;
}

/**
 * thread-form
 */

 .thread-form {
     background-color: #fff;
 }

 .thread-form-group {
     margin: 0 .25333333rem;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     height: 1.13333333rem;
 }
 .thread-form-group label {
     flex: 13;
     font-size: 12.5px;
     margin: 0;
     color: #000000;
     font-weight: unset;
 }

 .thread-form-group input {
     flex: 57;
     background-color: #f8f8f8;
     border: none;
     height: .64rem;
     padding-left: 10px;
     color: #000000;
 }

 .thread-form-group select {
     flex: 25;
     background-color: #f8f8f8;
     border: none;
     height: .64rem;
     padding-left: 10px;
     color: #000000;
 }

 .thread-form-group textarea {
     flex: 57;
     background-color: #f8f8f8;
     border: none;
     height: 2.66666667rem;
     padding-left: 10px;
     color: #000000;
 }

/**
 * threads.channels
 */
 .thread-channels {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 0 .25333333rem;
     border: 1px solid #e3e3e3;
     border-radius: 4px;
     height: 1.74666667rem;
     margin-bottom: .26666667rem;
     background-color: #fff;
 }

 .channel-icon {
     margin-left: .34666667rem;
     width: 1.13333333rem;
     height: 1.13333333rem;
     border-radius: .56666667rem;
 }

 .channel-slug {
     margin-left: .36rem;
     width: 6.78666667rem;
 }

 .channel-name {
     margin: 0;
     color: #333;
     font-size: 16px;
 }

 .channel-desc {
     margin: 0;
     color: #aaa;
     font-size: 14px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
